*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(242, 202, 245);
}


section{
  
    padding: 0.2rem;
    display: flex;
    gap: 0.3rem;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

section > p{
    background-color: rgb(174, 174, 243);
    padding: 0.4rem;
    /*margin: 0.3rem; */
    /*flex-basis: 19%;*/
    flex-grow: 1;
    white-space: nowrap;
    text-align: center;
}

section p:nth-child(3) {
    flex-basis: 28%;
    /*flex-grow: 6;*/
}


  /* ------------------------  Navbar --------------------- */
nav{
    font-size: 16pt;
}

  nav a {
    
    display: block;
    max-width: 100%;
    text-decoration: none;
    padding: 0.4rem;
}

nav a:hover{
    background-color: rgb(89, 89, 241);
    color: white;
    cursor: pointer;
}




h1 {
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 30pt;
}


h2 {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 22pt;
}

h3 {
    padding-bottom: 1%;
}


/* main {
    max-width: 600px;
    justify-content: center;
    
}

@media screen and (max-width: 600px){
    nav {flex-direction: column;}*/

legend {
    padding-top: 2%;
    padding-bottom: 2%;
}

label {
    
    padding-left: 5%;
    background-color: rgb(202, 202, 250);   
}

input {
    padding-right: 5%;
   
}


form {
    max-width: 700px;
    margin: auto;
}

button {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 4%;
    font-size: 14pt;
}

footer{
    margin-bottom: 1%;
}





/* -------------------  FIELDSETS --------------------- */
fieldset{
    padding-bottom: 4%;
}


.fieldset1 {
    background-color: rgb(202, 202, 250);

}

.fieldset2 {
    background-color: rgb(150, 150, 245);
    
}
    










